@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <link href="~/gentelella-master/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/gentelella-master/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/gentelella-master/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/gentelella-master/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">


        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Account Setup</h3>
                    </div>
                    <div class="clearfix"></div>

                    <div class="row">

                        <div class="col-md-12 col-sm-12 ">
                            <div class="x_panel">

                                <div class="x_content">


                                    <!-- Smart Wizard -->
                                    <p>Fill out these basic Information to setup your account.</p>
                                    <div id="wizard" class="form_wizard wizard_horizontal">
                                        <ul class="wizard_steps">
                                            <li>
                                                <a href="#step-1">
                                                    <span class="step_no">1</span>
                                                    <span class="step_descr">
                                                        Step 1<br />
                                                        <medium>What do you do?</medium>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#step-2">
                                                    <span class="step_no">2</span>
                                                    <span class="step_descr">
                                                        Step 2<br />
                                                        <medium>Skill Level</medium>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#step-3">
                                                    <span class="step_no">3</span>
                                                    <span class="step_descr">
                                                        Step 3<br />
                                                              <Medium>Education</Medium>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#step-4">
                                                    <span class="step_no">4</span>
                                                    <span class="step_descr">
                                                        Step 4<br />
                                                        <medium>Experience</medium>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div id="step-1">
                                            <form class="form-horizontal form-label-left">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-md-3 col-sm-3 label-align">
                                                        Choose Category <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 ">
                                                        <select class="form-control">
                                                            <option>Choose Category</option>
                                                            <option>Option one</option>
                                                            <option>Option two</option>
                                                            <option>Option three</option>
                                                            <option>Option four</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-form-label col-md-3 col-sm-3 label-align">
                                                        Choose Skill <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 ">
                                                        <select class="form-control">
                                                            <option>Choose Skill</option>
                                                            <option>Option one</option>
                                                            <option>Option two</option>
                                                            <option>Option three</option>
                                                            <option>Option four</option>
                                                        </select>
                                                    </div>

                                                </div>
                                                @*
                                                    <div class="form-group row">
                                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                                                            First Name <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 ">
                                                            <input type="text" id="first-name" required="required" class="form-control  ">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                                            Last Name <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 ">
                                                            <input type="text" id="last-name" name="last-name" required="required" class="form-control ">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Middle Name / Initial</label>
                                                        <div class="col-md-6 col-sm-6 ">
                                                            <input id="middle-name" class="form-control col" type="text" name="middle-name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-form-label col-md-3 col-sm-3 label-align">Gender</label>
                                                        <div class="col-md-6 col-sm-6 ">
                                                            <div id="gender" class="btn-group" data-toggle="buttons">
                                                                <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-secondary">
                                                                    <input type="radio" name="gender" value="male" class="join-btn"> &nbsp; Male &nbsp;
                                                                </label>
                                                                <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-secondary">
                                                                    <input type="radio" name="gender" value="female" class="join-btn"> Female
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                                                            Date Of Birth <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 ">
                                                            <input id="birthday" class="date-picker form-control" required="required" type="text">
                                                        </div>
                                                    </div>*@

                                            </form>

                                        </div>
                                        <div id="step-2">

                                            <form class="form-horizontal form-label-left">
                                                <div class="form-group row">

                                                    <label class="col-form-label col-md-3 col-sm-3 label-align">
                                                        What is your Skill Level? <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 ">
                                                        <div class="row">
                                                            <div class="btn-group form-check" data-toggle="buttons">
                                                                <div class="row">
                                                                    <div class="btn-group form-check" data-toggle="buttons">
                                                                        <label class="btn btn-secondary button-choice active">
                                                                            <input type="radio" class="join-btn" name="options" id="option1"> Begginer
                                                                        </label>
                                                                        <label class="btn btn-secondary button-choice">
                                                                            <input type="radio" name="options" class="join-btn" id="option2"> Intermediate
                                                                        </label>
                                                                        <label class="btn btn-secondary button-choice" >
                                                                            <input type="radio" name="options" class="join-btn" id="option3"> Expert
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div id="step-3">
                                            <h2 class="StepTitle">Educational Background</h2>
                                            <div class="col-md-9 col-sm-9 ">
                                                <textarea class="resizable_textarea form-control" placeholder="Describe your Educational Background in detail"></textarea>
                                                <a href="#step-4">Skip this step</a>
                                            </div>
                                        </div>
                                        <div id="step-4">
                                            <h2 class="StepTitle">Experience</h2>
                                          
                                        </div>

                                    </div>
                                    <!-- End SmartWizard Content -->






                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>

                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/gentelella-master/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/gentelella-master/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/gentelella-master/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/gentelella-master/vendors/nprogress/nprogress.js"></script>
    <!-- jQuery Smart Wizard -->
    <script src="~/gentelella-master/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/gentelella-master/build/js/custom.min.js"></script>


</body>
</html>