@model FreelanceTech.ViewModel.CustomerViewModel;

@{
    ViewData["Title"] = "Wallet";
    Layout = "_CustomerDashboardLayout";
}



<div class="x_panel text-md-center">
    <h2>Account Balance</h2>
    <h1>$@Html.DisplayFor(model => model.wallet.balance)</h1>
    <a href="#myModal" class="trigger-btn btn btn-round btn-success" data-toggle="modal" >Deposit</a>
</div>

    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <form asp-controller="Customers" asp-action="CheckoutExpress">
                    <div class="modal-body">
                        <label class="text-center" asp-for="wallet.balance">Enter Amount</label>
                        <input type="text" class="form-control" asp-for="wallet.balance"/>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="submit">Done</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


