@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "You have successfully confirmed your email";
}

<h1>@ViewData["Title"]</h1>
<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" asp-controller="Freelancers"  asp-action="Register">Continue</a>