@model FreelanceTech.Models.Freelancer

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Freelancer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="freelancerId" class="control-label"></label>
                <input asp-for="freelancerId" class="form-control" />
                <span asp-validation-for="freelancerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneNumber" class="control-label"></label>
                <input asp-for="phoneNumber" class="form-control" />
                <span asp-validation-for="phoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="education" class="control-label"></label>
                <input asp-for="education" class="form-control" />
                <span asp-validation-for="education" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="englishProficiency" class="control-label"></label>
                <input asp-for="englishProficiency" class="form-control" />
                <span asp-validation-for="englishProficiency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hourlyRate" class="control-label"></label>
                <input asp-for="hourlyRate" class="form-control" />
                <span asp-validation-for="hourlyRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="professionalOverview" class="control-label"></label>
                <input asp-for="professionalOverview" class="form-control" />
                <span asp-validation-for="professionalOverview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photo" class="control-label"></label>
                <input asp-for="photo" class="form-control" />
                <span asp-validation-for="photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="legaID" class="control-label"></label>
                <input asp-for="legaID" class="form-control" />
                <span asp-validation-for="legaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rate" class="control-label"></label>
                <input asp-for="rate" class="form-control" />
                <span asp-validation-for="rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="score" class="control-label"></label>
                <input asp-for="score" class="form-control" />
                <span asp-validation-for="score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
